node_modules/
pnpm-debug.log*
.yarn/*
.DS_Store
.env*
coverage/
tmp/

apps/web/.next/
apps/web/out/
apps/web/node_modules/

apps/admin/.next/
apps/admin/out/
apps/admin/node_modules/

apps/api/dist/
apps/api/node_modules/

packages/db/dist/
