
!.env.example
!apps/admin/.env.local.example
!apps/api/.env
!apps/api/.env.example
!apps/web/.env.example
!apps/web/.env.local
!apps/web/.env.local.example
# env & secrets
*.env
*.env.*
.DS_Store
.env*
.yarn/*
apps/api/.env
apps/api/dist/
apps/api/node_modules/
apps/web/.env.local
apps/web/.next/
apps/web/node_modules/
apps/web/out/
coverage/
node_modules/
pnpm-debug.log*
tmp/
